<div class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Artapedia', root_path, class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Add Video', new_video_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/destroy" data-method="DELETE">Logout</a></li>
    </ul>
  </div>
</div>
<div class="jumbotron" id="jumbo">
  <div class="bg">
    <%= video_tag "Octagon.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
  </div>
    <div class="container">
      <h1 id="main">Share your videos with the world!</h1>
      <p>Click the button below to share your video from YouTube.</p>
        <p>
          <%= link_to 'Add video now!', new_video_path, class: 'btn btn-primary btn-lg' %>
        </p>
      </div>
</div>
<% if @videos.any? %>
  <div class="container">
    <h1>Latest videos</h1>
    <div id="player-wrapper"></div>
    <% @videos.in_groups_of(3) do |group| %>
      <div class="row">
        <% group.each do |video| %>
          <% if video %>
            <div class="col-md-4">
              <div class="yt_video thumbnail">
                <% if video.file_content_type %>
                <div style="position:relative;height:0;padding-bottom:56.25%"><%= video_tag video.file.url(:medium), controls: true, style: "position:absolute;width:100%;height:100%;left:0" %></div>
                <div class="caption">
                  <a href="/videos/<%= video.id %>"><%= video.title %></a>
                <% else %>
                <div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/<%= video.uid %>?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
                <div class="caption">
                  <a href="/videos/<%= video.id %>"><%= video.title %></a>
                <% end %>

                  <% if video.published_at %>
                    <p>Published at <%= video.published_at.strftime('%-d %B %Y %H:%M:%S') %></p>
                  <% end %>
                  <p>
                    <span class="glyphicon glyphicon glyphicon-thumbs-up"></span>
                    <span class="glyphicon glyphicon glyphicon-thumbs-down"></span>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
