<div class="container">
  <h1>New video</h1>

  <%= form_for @video do |f| %>
    <%= render 'shared/errors', object: @video %>

    <div class="form-group">
      <%= f.label :link %>
      <%= f.text_field :link, class: 'form-control', required: true %>
      <span class="help-block">A link to the video on YouTube.</span>
    </div>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
    <%= form_for @video do |f| %>
      <%= render 'shared/errors', object: @video %>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', required: true %>
      <%= f.label :file %>
      <%= f.file_field :file, class: 'form-control', required: true %>
      <span class="help-block">A link to the video on YouTube.</span>
    </div>

    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
