<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= form_for :upload do |f| %>
      Name: <%= f.text_field :title %><br />
      Description : <%= f.text_field :description %><br />
      File : <%= f.file_field :file %><br />
      <%= f.submit %>
    <% end %>

    <!-- <form action="" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="text" name="upload[name]">
      <input type="text" name="upload[description]">
      <input type="file" name="upload[file]" accept="image/*, video/*">
      <input type="submit" value="Upload">
    </form> -->

    <% @uploads.each do |u| %>
      <p> <%= u.file %> </p>
      <%= image_tag u.file.url(:medium) %>
    <% end %>

  </body>
</html>
