<!DOCTYPE html>
<html>
<head>
  <title>Art</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
=======

>>>>>>> 12ade0057385cecf39e8fc29fd2ceeb19c3819fb
<% if flash[:errors] %>
    <% flash[:errors].each do |e|%>
      <div class= "alert alert-danger" style="color:red;">
        <strong><%= e %></strong>
      </div>
    <% end %>
  <% end %>
<<<<<<< HEAD
=======

>>>>>>> 12ade0057385cecf39e8fc29fd2ceeb19c3819fb
<%= yield %>

</body>
</html>
